@import "../../styles/_variables.scss";

.pagination {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6vw;
    background-color: $dark-blue;
    color: $white;
    .pagination-link {
        cursor: pointer;
        a {
            text-decoration: none;
            color: $white;
        }
        &:hover{
            text-decoration: underline;
        }
    }
    .hidden {
        visibility: hidden;
    }
}