@import "../../styles/_variables.scss";

.pagination {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6vw 12vw;
    background-color: $dark-blue;
    color: $white;
    font-size: $section-content-desktop-size;
    .pagination-link {
        cursor: pointer;
        a {
            text-decoration: none;
            color: $white;
        }
        &:hover{
            text-decoration: underline;
        }
    }
    .hidden {
        visibility: hidden;
    }
}

/***** RESPONSIVE STYLES *****/

//Mobile phones
@media only screen and (max-width: $phone-width-breakpoint) {
    .pagination {
        font-size: $section-content-mobile-size - 0.2rem;
        font-weight: lighter;
    }
}