@import "../../styles/_variables.scss";

.consumer-research-page {
    .approach, .consumer-section, .consumer-insights-block, .consumer-superuser-insights-block, .consumer-persona-block {
        padding: 6vw 12vw;
        width: 100%;
        box-sizing: border-box;
    }

    .set-bg-white {
        background-color: $white;
    }

    .landing-title {
        width: 100%;
        position: relative;
        margin-bottom: -0.3rem;
        img {
          width: 100%;
        }
        .page-name {
          font-size: 3rem;
          color: $white;
          position: absolute;
          top: 35%;
          padding-left: 12vw;
        }
        .page-desc {
          width: 40%;
          font-size: 1rem;
          color: $white;
          position: absolute;
          top: 50%;
          padding-left: 12vw;
          line-height: 1.6;
        }
    }

    .approach {
        .approach-title {
          font-size: $section-header-desktop-size;
          margin-bottom: 3rem;
        }
         
        .approach-content {
            font-size: $section-content-desktop-size;
            display: inline-block;
            width: 50%;
        }
        .methods {
            padding: 5rem 0;
            font-size: $section-content-desktop-size;
            .methods-list {
                width: 100%;
                display: flex;
                .method {
                    display: inline-block;
                    width: 20%;
                    margin-right: 4%;
                    .method-number {
                        font-size: $section-content-desktop-size + 0.3rem;
                    }
                    .method-title {
                        font-weight: bold;
                    }
                    .method-desc {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    .consumer-section {
        .consumer-section-content {
          width: 100%;
          font-size: $section-content-desktop-size;
          display: flex;
          .consumer-section-text, .consumer-section-image {
            display: inline-block;
            width: 50%;
          }
          .consumer-section-text {
              padding-right: 5rem;
              padding-top: 3rem;
              .consumer-section-header {
                  font-size: $section-header-desktop-size;
                  margin-bottom: 3rem;
              }
              .consumer-section-title {
                  font-weight: bold;
                  margin-bottom: 2rem;
              }
              .consumer-section-desc {
                  margin-bottom: 2rem;
              }
          }
          .consumer-section-image {
            text-align: center;
            img {
              width: 80%;
            }
          }
        }
    }

    .consumer-insights-block {
        background-color: $light-blue;
        color: $white;
        .consumer-insights-title {
            font-size: $section-header-desktop-size;
            margin-bottom: 3rem;
            font-weight: bold;
        }
        .consumer-insights {
            font-size: $section-content-desktop-size;
            .consumer-insights-list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .consumer-insight {
                    display: inline-block;
                    width: 29%;
                    margin-right: 4%;
                    margin-bottom: 2rem;
                    .consumer-insight-number {
                        font-size: $section-content-desktop-size + 0.3rem;
                    }
                    .consumer-insight-desc {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    .consumer-superuser-insights-block {
        background-color: $light-blue;
        color: $white;
        .consumer-superuser-insights-title {
            font-size: $section-header-desktop-size;
            margin-bottom: 3rem;
            font-weight: bold;
        }
        .consumer-superuser-insights {
            font-size: $section-content-desktop-size;
            .consumer-superuser-insights-list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .consumer-superuser-insight {
                    display: inline-block;
                    width: 22%;
                    margin-right: 2%;
                    margin-bottom: 2rem;
                    .consumer-superuser-insight-number {
                        font-size: $section-content-desktop-size + 0.3rem;
                    }
                    .consumer-superuser-insight-desc {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    .consumer-persona-block {
        .consumer-persona-title {
            font-size: $section-header-desktop-size;
            margin-bottom: 3rem;
            font-weight: bold;
        }
        .consumer-persona-desc {
            font-size: $section-content-desktop-size;
            display: inline-block;
            width: 50%;
            margin-bottom: 5rem;
        }
    }

    .image-blurb {
        width: 100%;
        position: relative;
        margin-bottom: -0.4rem;
        img {
          width: 100%;
        }
        .image-blurb-title {
          font-size: 2rem;
          color: $white;
          position: absolute;
          top: 35%;
          padding-left: 12vw;
        }
        .image-blurb-desc  {
          width: 40%;
          font-size: 1rem;
          color: $white;
          position: absolute;
          top: 50%;
          padding-left: 12vw;
          line-height: 1.6;
        }
    }
}