@import "../../styles/_variables.scss";

.about-us-page {
    .landing-title {
        width: 100%;
        position: relative;
        margin-bottom: -0.3rem;
        img {
          width: 100%;
        }
        .page-name {
          font-size: 3rem;
          color: $white;
          position: absolute;
          top: 50%;
          padding-left: 12vw;
        }
    }

    .multidisciplinary-team  {
        width: 100%;
        padding: 6vw 12vw;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        .multidisciplinary-title, .multidisciplinary-desc {
            width: 40%;
        }
        .multidisciplinary-title {
            font-size: $section-header-desktop-size;
            margin-bottom: 3rem;
        }
        .multidisciplinary-desc {
            font-size: $section-content-desktop-size;
        }
    }

    .team-gallery {
        width: 100%;
        display: flex;
        flex-direction: row;
        color: $white;
        .team-member {
            position: relative;
            width: 22%;
            margin: -1px;
            text-align: center;
            cursor: pointer;
            .member-image {
                width: 100%;
            }
            .member-name {
                position: absolute;
                font-size: $section-header-desktop-size;
                bottom: 10%;
                left: 0;
                right: 0;
                margin: auto;
            }
            .member-role {
                position: absolute;
                font-size: $section-content-desktop-size;
                bottom: 5%;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }

    .medium {
        width: 100%;
        position: relative;
        margin-bottom: -0.4rem;
        margin-top: -0.4rem;
        text-align: center;
        .medium-bg {
          width: 100%;
        }
        .medium-title {
          font-size: 2rem;
          color: $white;
          position: absolute;
          left: 0;
          right: 0;
          top: 35%;
          margin: auto;
        }
        .medium-button {
            position: absolute;
            color: $white;
            background-color: $orange;
            top: 45%;
            left: 0;
            right: 0;
            margin: auto;
            padding: 1rem;
            font-size: $section-content-desktop-size;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
        }
    }
}
.member-profile-block {
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    .member-profile-pic {
        display: inline-block;
        width: 40%;
        img {
            width: 100%;
        }
    }
    .member-profile-text {
        box-sizing: border-box;
        display: inline-block;
        font-size: $section-content-desktop-size;
        width: 60%;
        padding: 2rem;
        padding-bottom: 0;
        .member-profile-name {
            font-weight: bold;
            margin-bottom: 1rem;
            font-size: $section-content-desktop-size + 0.3rem;
        }
        .member-profile-role {
            font-size: $section-content-desktop-size;
            margin-bottom: 3rem;
        }
        .member-links{
            margin-top: 3rem;
            font-size: 2rem;
            a {
                padding-right: 1rem;
                color: $slate;
            }
        }
    }
}

/***** RESPONSIVE STYLES *****/

//Mobile phones
@media only screen and (max-width: $phone-width-breakpoint) {
    .about-us-page {
        .landing-title{
            overflow: hidden;
            .page-name {
                font-size: $page-header-mobile-size;
                top: 25%
            }
            .page-desc  {
                font-size: $section-content-mobile-size;
                top: 55%;
                width: 70vw;
                top: 45%;
            }
            img {
                position: relative;
                width: 100%;
            }
        }

        .multidisciplinary-team  {
            width: 100%;
            padding: 2rem;
            box-sizing: border-box;
            display: block;
            text-align: left;
            .multidisciplinary-title, .multidisciplinary-desc {
                width: 100%;
            }
            .multidisciplinary-title {
                font-size: $section-header-mobile-size;
                margin-bottom: 1.5rem;
            }
            .multidisciplinary-desc {
                font-size: $section-content-mobile-size;
                font-weight: lighter;
            }
        }

        .team-gallery {
            width: 100%;
            display: flex;
            flex-direction: column;
            .team-member {
                box-sizing: border-box;
                padding: 2rem;
                padding-bottom: 0;
                width: 100%;
                margin: -1px;
                .member-image {
                    width: 100%;
                }
                .member-name {
                    position: absolute;
                    font-size: $section-header-mobile-size;
                    bottom: 12%;
                }
                .member-role {
                    position: absolute;
                    font-size: $section-content-mobile-size;
                    bottom: 8%;
                }
            }
        }

        .medium {
            margin-bottom: -0.3rem;
            margin-top: 2rem;
            .medium-bg {
              width: 100%;
            }
            .medium-title {
              font-size: $section-header-mobile-size;
              top: 35%;
            }
            .medium-button {
                top: 55%;
                font-size: $section-content-mobile-size;
                font-weight: normal;
            }
        }
    }

    .team-member-modal{
        padding: 0;
        .member-profile-block {
            width: 100%;
            box-sizing: border-box;
            padding: 0;
            .member-profile-pic {
                display: block;
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .member-profile-text {
                display: block;
                font-size: $section-content-mobile-size;
                width: 100%;
                padding: 1.5rem;
                .member-profile-name {
                    font-weight: bold;
                    margin-bottom: 0.5rem;
                    font-size: $section-content-mobile-size + 0.3rem;
                }
                .member-profile-role {
                    font-size: $section-content-mobile-size;
                    margin-bottom: 1.5rem;
                }
                .member-links{
                    margin-top: 1rem;
                    font-size: 2rem;
                    a {
                        padding-right: 1rem;
                        color: $slate;
                    }
                }
            }
        }
    }
}