@import "../../styles/_variables.scss";

.navbar {
    width: 100%;
    padding: 1.2rem 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: right;
    position: fixed;
    z-index: 1;
    .navbar-link {
        display: inline;
        a {
            text-decoration: none;
            color: $white;
            padding: 0 2rem;
            &:hover {
                text-decoration: underline;
            }
        }
        &:last-child {
            padding-right: 6rem;
        }
    }
}